.SWTable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    margin: 10px;
    & caption {
        color: #EDB749;
        border-bottom: 1px solid #37B5A5;
        padding: 12px 17px;
    }
    & thead {
        display: block;
        border-bottom: 2px solid #37B5A5;
        & th:last-child {
            border-right: none;
        }
    }
    & tbody {
        max-height: 200px;
        overflow: auto;
        display: block;
    }
    & th {
        cursor: pointer;
        position: relative;
    }
    & .planetName:hover::after { 
        content: attr(data-title); 
        position: absolute;
        z-index: 1;
        background: rgba(255,255,230,0.9);
        font-family: Arial, sans-serif;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px solid #333;
        margin-left: 10px;
        color: black;
        width: auto;
        white-space: nowrap;
    }
    & td, & th {
        color: #CAD4D6;
        border-bottom: 1px solid #37B5A5;
        border-right:1px solid #37B5A5;
        padding: 7px 17px;
        width: 150px;
        height: 42px;
    }
    & tr:last-child td {
        border-bottom: none;
    }
    & td:last-child {
        border-right: none;
    }
    & .tdDel {
        border-top: 1px solid #37B5A5;
    }
}

.SWTableWrapper {
    background: #252F48;
    margin-bottom: 15px;
}



.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

// @import '../spinner/spinner.scss';